@media (min-width: 992px) {
	#borderfaq {
		border-right: 1px solid rgba(0, 0, 0, 0.2);
	}
}

@media (max-width: 768px) {
	#photoaccueil {
		padding-top: 2.5rem;
	}
}

#page-produits {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../res/produits.jpg");
	background-position: center;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

#produits a {
	text-decoration: none;
	background-color: rgba(230, 230, 230, 0.85);
	color: rgba(0, 0, 0, 0.85);
	transition: .2s background-color, .2s color;
}

#produits a:hover {
	background-color: rgba(230, 230, 230, 1);
	color: rgba(0, 0, 0, 1);
}

#produits img {
	width: 80%;
}

#produits h3 {
	font-size: 2.5rem;
}
